@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.navbar-container {
  font-family: 'Inter', sans-serif;
  margin-top: 2rem;
  margin-left: 8rem;
  border-bottom: 1px solid #000;
}
.button {
  color: #fff;
  border-color: #6d5552;
  border: none;
  background-color: #6d5552;
  border-radius: 0.5rem;
  padding: 0.6rem 0.6rem;
}
.button:hover {
  background-color: #3b302f;
}
